*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: cornflowerblue;
}
ul li{
    text-decoration: none;
    display: inline-flex;
    
   
    
}
li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 16px;
    font-family: sans-serif;
    letter-spacing: 5px;
}
ul .right{
    float: right;
}
.grid-container{
    width: 100%;
    display: inline-flex;
}
.grid-container img{
    width: 80%;
}
.grid-container1{
    width: 100%;
    display: inline-flex;
}
.grid-container1 img{
    width: 80%;
}


.info{
    width: 100%;
}
.column{
    display: block;
    
}
.image{
    
    display: inline-flex;
}
.images .one{
    width: 25%;
}
.contact{
    width: 100%;
    padding: 5px;
}
.contact button{
    background-color: cadetblue;
}
.footer{
    background-color: black;
    color: #fff;
    padding: 20px;
}